{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} {{!-- Main --}} <div class="content-area">
    <main class="main">
        <div class="post-feed">
            <div class="grid-item grid-sizer"></div>
            {{#foreach posts}}
            {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
    </div>